* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 100ms linear;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* flex: 1; */
}
body {
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  color: black;
  padding: 1px;
  opacity: 70%;
}
a:hover,
a:focus-visible {
  opacity: 100%;
  border-bottom: 1px solid black;
}
h1 {
  font-size: xx-large;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  min-height: 3rem;
}
.home-button {
  font-weight: 600;
}
.home-button:hover,
.home-button:focus-visible {
  border: none;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
main {
  margin-top: 3rem;
  padding-inline: 3rem;
  display: flex;
  gap: 50px;
  align-items: flex-start;
}
article {
  margin-block: 1rem;
  line-height: 1.5rem;
}
article.event-intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
div.event-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 780px;
}
div.event-image > img {
  width: 780px;
}
div.event-details {
  max-width: 580px;
}
time.event-time {
  font-size: 0.85rem;
}
p#submissionCounter {
  opacity: 80%;
  margin-block: 10px;
}
span#current-time,
time.event-date,
p.event-venue {
  font-weight: 700;
}
p.article-header {
  opacity: 70%;
  margin-bottom: 8px;
}
p + hr {
  max-width: 95%;
  margin-inline: auto;
  opacity: 70%;
  margin-bottom: 5px;
}
form > input {
  margin-bottom: 10px;
  line-height: 1.4rem;
  border-radius: 5px;
  border: 1px solid black;
  max-width: 400px;
}
form > button {
  padding: 8px 20px;
  font-weight: 700;
  background-color: black;
  border: none;
  color: whitesmoke;
  border-radius: 10px;
}
button:hover,
button:focus-visible {
  opacity: 80%;
}
footer.footer {
  min-height: 10rem;
  background-color: #141414;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.modal {
  padding: 5px 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
}
p.modal-hidden {
  display: none;
}